################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CleanArchitecture/v16/.suo
/.vs
*.dll
*.pdb
/CleanArchitecture.Core/bin/Debug/netstandard2.0/CleanArchitecture.Core.deps.json
/CleanArchitecture.Core/obj
/CleanArchitecture.Shared/obj
/CleanArchitecture.Shared/bin/Debug/netstandard2.0
/CleanArchitecture.Functions/obj/Release/netcoreapp3.1
/CleanArchitecture.Functions/obj/Debug/netcoreapp3.1
/CleanArchitecture.Functions/obj/project.nuget.cache
/CleanArchitecture.Functions/obj/project.assets.json
/CleanArchitecture.Functions/obj/CleanArchitecture.Functions.csproj.nuget.g.targets
/CleanArchitecture.Functions/obj/CleanArchitecture.Functions.csproj.nuget.g.props
/CleanArchitecture.Functions/obj/CleanArchitecture.Functions.csproj.nuget.dgspec.json
/CleanArchitecture.Functions/bin/Debug/netcoreapp3.1
/CleanArchitecture.Infrastructure/obj/Release/netstandard2.0
/CleanArchitecture.Infrastructure/obj/project.nuget.cache
/CleanArchitecture.Infrastructure/obj/project.assets.json
/CleanArchitecture.Infrastructure/obj/Debug/netstandard2.0
/CleanArchitecture.Infrastructure/obj/CleanArchitecture.Infrastructure.csproj.nuget.g.targets
/CleanArchitecture.Infrastructure/obj/CleanArchitecture.Infrastructure.csproj.nuget.g.props
/CleanArchitecture.Infrastructure/obj/CleanArchitecture.Infrastructure.csproj.nuget.dgspec.json
/CleanArchitecture.Infrastructure/bin/Debug/netstandard2.0/CleanArchitecture.Infrastructure.deps.json
/Tests/CleanArchitecture.Core.UnitTests/obj/Release/netcoreapp3.1
/Tests/CleanArchitecture.Core.UnitTests/obj/project.nuget.cache
/Tests/CleanArchitecture.Core.UnitTests/obj/project.assets.json
/Tests/CleanArchitecture.Core.UnitTests/obj/Debug/netcoreapp3.1
/Tests/CleanArchitecture.Core.UnitTests/obj/CleanArchitecture.Core.UnitTests.csproj.nuget.g.targets
/Tests/CleanArchitecture.Core.UnitTests/obj/CleanArchitecture.Core.UnitTests.csproj.nuget.g.props
/Tests/CleanArchitecture.Core.UnitTests/obj/CleanArchitecture.Core.UnitTests.csproj.nuget.dgspec.json
/Tests/CleanArchitecture.Core.UnitTests/bin/Debug/netcoreapp3.1
/Tests/CleanArchitecture.Functions.IntegrationTests/bin/Debug/netcoreapp3.1/CleanArchitecture.Functions.IntegrationTests.runtimeconfig.json
/Tests/CleanArchitecture.Functions.IntegrationTests/bin/Debug/netcoreapp3.1/CleanArchitecture.Functions.IntegrationTests.runtimeconfig.dev.json
/Tests/CleanArchitecture.Functions.IntegrationTests/bin/Debug/netcoreapp3.1/CleanArchitecture.Functions.IntegrationTests.deps.json
/Tests/CleanArchitecture.Functions.IntegrationTests/obj/Debug/netcoreapp3.1
/Tests/CleanArchitecture.Functions.IntegrationTests/obj/Release/netcoreapp3.1
/Tests/CleanArchitecture.Functions.IntegrationTests/obj/project.nuget.cache
/Tests/CleanArchitecture.Functions.IntegrationTests/obj/project.assets.json
/Tests/CleanArchitecture.Functions.IntegrationTests/obj/CleanArchitecture.Functions.IntegrationTests.csproj.nuget.g.targets
/Tests/CleanArchitecture.Functions.IntegrationTests/obj/CleanArchitecture.Functions.IntegrationTests.csproj.nuget.g.props
/Tests/CleanArchitecture.Functions.IntegrationTests/obj/CleanArchitecture.Functions.IntegrationTests.csproj.nuget.dgspec.json
